<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система учета арендаторов ТЦ</title>
    <link rel="stylesheet" type="text/css" href="/ui/static/css/home_page.css">
    <script src="/ui/static/js/home_page.js"></script>
    <script src="/ui/static/js/Boxes.js"></script>
    <script src="/ui/static/js/Clients.js"></script>
    <script src="/ui/static/js/Contracts.js"></script>
</head>
<body>
    <div class = "header">
        <h2>Система учета арендаторов ТЦ</h3>
    </div>
    <div class="menu">
        <ul style="list-style-type: none;">
            <li>
                <a onclick="toggle_visibility(1)">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Главная</span>
                </a>
            </li>
            <li>
                <a onclick="toggle_visibility(2)">
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item">Объекты аренды</span>
                </a>
            </li>
            <li>
                <a onclick="toggle_visibility(3)">
                    <span class="icon"><i class="fas fa-user-friends"></i></span>
                    <span class="item">Арендаторы</span>
                </a>
            </li>
            <li>
                <a onclick="toggle_visibility(4)"> 
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="item">Договоры аренды</span>
                </a>
            </li>
            <li>
                <a onclick="toggle_visibility(5)">
                    <span class="icon"><i class="fas fa-database"></i></span>
                    <span class="item">Оплаты</span>
                </a>
            </li>
           
        </ul>
    </div>
    <div>
        <div id = "1", class ="container">
            <hr>
            Главная
            <br>
            <hr>
        </div>

        <div id = "2", class="container">
            <h1>Объекты аренды</h1>
            <script>getBoxes()</script>
            <div id="Boxes"></div>
            <hr>
            <form id="dataForm">
                <label for="boxID">Номер помещения:</label>
                <input type="text" id="boxID" name="boxID"><br>
    
                <label for="status">статус:</label>
                <input type="text" id="status" name="status"><br>
                
                <label for="type">этаж:</label>
                <input type="text" id="floor" name="floor"><br>
    
                <label for="phone">Площадь:</label>
                <input type="text" id="area" name="area"><br>
    
                <input type="button" value="Отправить данные" onclick="addBoxes()">
            </form>
        </div>

        <div id = "3", class ="container">
            <h1>Арендаторы</h1>
    
            <script>getClients()</script>
            <div id="Clients"></div>
            <hr>
            <form id="dataForm">
                <label for="clientID">ID клиента:</label>
                <input type="text" id="clientID" name="clientID"><br>
    
                <label for="name">Имя клиента:</label>
                <input type="text" id="name" name="name"><br>
    
                <label for="type">Тип клиента:</label>
                <input type="text" id="type" name="type"><br>
    
                <label for="phone">Телефон клиента:</label>
                <input type="text" id="phone" name="phone"><br>
    
                <input type="button" value="Отправить данные" onclick="addClients()">
            </form>
        </div>
        
        <div id = "4", class="container">
            <h1>Договоры аренды</h1>

            <script>getContracts()</script>
            <div id="Contracts"></div>
            <hr>
            <form id="dataForm">
                <label for="ContractID">№ Договора:</label>
                <input type="text" id="ContractID" name="ContractID"><br>
    
                <label for="ClientID">Имя клиента:</label>
                <input type="text" id="ClientID" name="ClientID"><br>
    
                <label for="BoxID">Номер бокса:</label>
                <input type="text" id="BoxID" name="BoxID"><br>
    
                <label for="DateSigned">Дата подписания:</label>
                <input type="date" id="DateSigned" name="DateSigned"><br>
    
                <label for="StartDate">Дата начала аренды:</label>
                <input type="date" id="StartDate" name="StartDate"><br>
    
                <label for="EndDate">Дата конца аренды:</label>
                <input type="date" id="EndDate" name="EndDate"><br>
    
                <input type="button" value="Отправить данные" onclick="addContracts()">
            </form>
        </div>
        <div id = "5", class="container">
            <hr>
            <br>
            Оплаты
            <br>
            <hr>
        </div>
    </div>
</body>
</html>
