<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кнопки для работы с данными на сервере</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.page.css">
    <script src="/static/js/home.page.js"></script>

</head>
<body>
    <div id="container">
        <h1>Кнопки для работы с данными на сервере</h1>

        <!-- Кнопка для получения списка клиентов -->
        <button onclick="getClients()">Получить список клиентов</button>

        <!-- Форма для отправки данных на сервер -->
        <form id="dataForm">
            <label for="clientID">ID клиента:</label>
            <input type="text" id="clientID" name="clientID"><br>

            <label for="name">Имя клиента:</label>
            <input type="text" id="name" name="name"><br>

            <label for="type">Тип клиента:</label>
            <input type="text" id="type" name="type"><br>

            <label for="phone">Телефон клиента:</label>
            <input type="text" id="phone" name="phone"><br>

            <input type="button" value="Отправить данные" onclick="sendData()">
        </form>

        <!-- Здесь будет отображен результат -->
        <div id="result"></div>
    </div>
</body>
</html>
