body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#container {
    width: 82%;
    /* margin: 0 auto;
    padding: 20px; */
    margin-left: 230px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
    width: 82%;
    /* margin: 0 auto;
    padding: 20px; */
    margin-left: 230px;
    margin-top: 5px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: rgb(12, 55, 14);
    height: 35px;
    color: white;
    padding: 1rem;
    text-align: center;
}

.menu{
    background: rgb(12, 55, 14);
    position: fixed;
    top: 1;
    left: 0;
    width: 225px;
    height: 100%;
    transition: all 0.5s ease;
    margin-top: 0 px;
}

.header h2{
    color: #ffffff;
    /* margin: 10px 0 5px; */
    margin-bottom: 30px;
    margin-top: auto;
    text-align: center;
}

.menu h3{
    color: #ffffff;
    /* margin: 10px 0 5px; */
    margin-bottom: 30px;
    margin-top: auto;
    text-align: center;
}

.menu ul{
    padding-left: 0;
}

.menu ul li a{
    display: block;
    padding: 13px 15%;
    border-bottom: 1px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.menu ul li a:hover,
.menu ul li a.active{
    background:rgb(12, 135, 55);
    border-right: 2px solid rgb(5, 68, 104);
}

.menu ul li a:hover .icon,
.menu ul li a.active .icon{
    color: #0c7db1;
    background:rgb(12, 135, 55);
}

.menu ul li a:hover:before,
.menu ul li a.active:before{
    display: block;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[type="button"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    float: left; /* add this */
}